# General settings.

GID=1000
UID=1000
TZ=Etc/UTC

# Tailscale settings.

TAILSCALE_HOSTNAME=pbs-backup-ssh

# SSH settings.

OPENSSH_USERNAME=backup
OPENSSH_PUBLIC_KEY=

# PBS settings.

PBS_CRON_SCHEDULE=17 1 * * *
PBS_ENDPOINT=
PBS_FINGERPRINT=
PBS_API_KEY_NAME=backup@pbs!token
PBS_API_KEY_SECRET=
PBS_DATASTORE=
PBS_DATASTORE_NS=
PBS_ENCRYPTION_PASSWORD=
